---
const {
    title,
    description,
    imageUrl
} = Astro.props
---


<article class="w-full grid grid-cols-1 lg:gap-15 gap-8 items-center justify-between lg:grid-cols-2">
    <div>
        <h3 class="lg:mb-3 mb-1 lg:text-xl text-lg">
            {title}
        </h3>
        <p class="text-muted-foreground lg:text-md lg:text-sm font-normal">
            {description}
        </p>
    </div>
    <div class="ml-auto max-w-lg aspect-square rounded-xl overflow-hidden">
        <img
            src={imageUrl}
            class="h-full w-full object-cover"
        />
    </div>
</article>
