---
import { Image } from "astro:assets";

const {
    title,
    description,
    imageUrl
} = Astro.props
---


<article class="w-full grid grid-cols-1 gap-8 items-center justify-between md:grid-cols-2 md:gap-10 lg:gap-16">
    <div class="max-w-sm w-full">
        <h3 class="mb-1 text-lg sm:mb-2 lg:mb-3 lg:text-xl">
            {title}
        </h3>
        <p class="text-muted-foreground font-normal lg:text-md text-sm">
            {description}
        </p>
    </div>
    <div class="ml-auto aspect-square rounded-xl overflow-hidden">
        <Image
            src={imageUrl}
            class="h-full w-full object-cover"
            alt={`${title} illustration`}
            width={1200}
            height={900}
            format="webp"   
        />
    </div>
</article>
