---
import FeatureCard from "./feature-card.astro"
import { getLangFromUrl, getUi } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const { features } = getUi(lang).landing
---

<section
  class="m-auto mb-8 flex w-full max-w-5xl flex-col gap-20 p-5 lg:gap-18 lg:p-10"
>
  <h2 class="text-center text-2xl lg:mb-4 lg:text-3xl">
    {features.title}
  </h2>
  {features.items.map((feature) => <FeatureCard {...feature} />)}
</section>
