---
import FeatureCard from "./feature-card.astro"

const features = [
  {
    title: "Быстрая обработка документов",
    description: "Сокращайте ручную работу и ускоряйте подготовку юридических материалов.",
    imageUrl: "https://images.ctfassets.net/kftzwdyauwt9/1tsQj0UZKjBylhnwOWbegB/b39246fd3ef28f8936653df0bd00b446/ChatGPT_Search.png?q=90&fm=webp"
  },
  {
    title: "Контроль качества",
    description: "Снижайте риск ошибок за счёт структурированной проверки текста.",
    imageUrl: "https://framerusercontent.com/images/g1VoOVkAsjjtW2P822X4dGno.webp?scale-down-to=2048&width=2400&height=1920"
  },
  {
    title: "Единый рабочий процесс",
    description: "Храните документы, проекты и правки в одном понятном интерфейсе.",
    imageUrl: "https://framerusercontent.com/images/6MqjmnbKweADf3pS78GPC1yYQ.png?scale-down-to=2048&width=3600&height=2025"
  },
  {
    title: "Генерация документов",
    description: "Создавайте черновики договоров, заявлений и юридических документов по заданным параметрам за несколько минут.",
    imageUrl: "https://framerusercontent.com/images/whb0QmOI7vajRbvFOrrrCCyfeE.png?scale-down-to=2048&width=2790&height=1674"
  },
]
---

<section class="w-full flex flex-col p-10 gap-18 max-w-5xl m-auto mb-8">
  <h2 class="mb-4 text-center font-heading text-3xl">
    Сделай шаг навстречу росту вместе с Qadam
  </h2>
    {features.map((feature) => (
        <FeatureCard {...feature} />
    ))}
</section>
