---
import ContactForm from "./contact-form";
---

<section>
    <div class="w-full h-full flex flex-col justify-center p-10 items-center gap-14">
        <div class="max-w-4xl text-center">
            <h2 class="font-heading text-4xl mb-4">Запросить демо-доступ</h2>
            <p class="text-md font-normal text-muted-foreground">В профессии, где исход дела решают детали и время, наш ИИ обрабатывает гигабайты правовой информации за секунды. Исключите риск человеческой ошибки и получайте готовые аргументы быстрее</p>
        </div>
        <ContactForm client:load />
    </div>
</section>
