---
import ContactForm from "./contact-form"
import { getLangFromUrl, getUi } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const { contact } = getUi(lang).landing
---

<section id="contact" class="pt-12">
  <div
    class="flex h-full w-full flex-col items-center justify-center gap-8 p-5 lg:p-10"
  >
    <div class="max-w-4xl md:text-center">
      <h2 class="mb-4 text-4xl">{contact.title}</h2>
      <p class="text-md font-normal text-muted-foreground">
        {contact.description}
      </p>
    </div>
    <ContactForm client:visible lang={lang} />
  </div>
</section>
