---
import { m } from "@/paraglide/messages.js"
import { localizeHref } from "@/paraglide/runtime.js"

const lang = Astro.url.pathname.startsWith("/en") ? "en" : "ru"
---

<footer class="relative z-10 mt-20 border-t bg-background">
  <div class="mx-auto grid gap-8 px-8 py-10 md:grid-cols-3">
    <div>
      <div class="font-heading text-xl">QADAM</div>
    </div>

    <div>
      <h2 class="text-sm font-medium">
        {m.footer_contacts({}, { locale: lang })}
      </h2>
      <div class="mt-3 space-y-2 text-sm text-muted-foreground">
        <p>
          <a class="hover:text-foreground" href="tel:+77476062524">
            +7 747 606 25 24
          </a>
        </p>
        <p>
          <a class="hover:text-foreground" href="mailto:info@qadam.kz">
            qop6261@gmail.com
          </a>
        </p>
        <p>{m.footer_city({}, { locale: lang })}</p>
      </div>
    </div>

    <div>
      <h2 class="text-sm font-medium">
        {m.footer_navigation({}, { locale: lang })}
      </h2>
      <div class="mt-3 flex flex-col gap-2 text-sm text-muted-foreground">
        <a
          class="hover:text-foreground"
          href={localizeHref("/", { locale: lang })}
          >{m.footer_home({}, { locale: lang })}</a
        >
        <a
          class="hover:text-foreground"
          href={localizeHref("/about", { locale: lang })}
          >{m.footer_about({}, { locale: lang })}</a
        >
        <a
          class="hover:text-foreground"
          href={localizeHref("/blog", { locale: lang })}
          >{m.footer_blog({}, { locale: lang })}</a
        >
      </div>
    </div>
    <div class="py-4 text-left text-xs text-muted-foreground">
      © {new Date().getFullYear()} QADAM. {
        m.footer_copyright({}, { locale: lang })
      }
    </div>
  </div>
</footer>
