---
import { Button } from "../../ui/button";
---

<section class="h-screen w-full flex flex-col justify-center">
    <div class="text-center mb-7">
        <h1 class="font-heading text-5xl mb-7">Инструмент, который делает <br/> вашу работу безупречной.</h1>
        <p class="text-lg font-medium text-muted-foreground">Ваше главное технологическое преимущество</p>
    </div>
    <Button variant={"default"} className="self-center">Попробовать</Button>
</section>