---
import { buttonVariants } from "../../ui/button"
---

<section class="flex h-screen w-full flex-col justify-center p-5 lg:p-10">
  <div class="mb-5 text-center lg:mb-7">
    <h1 class="mb-3 text-balance font-heading text-xl sm:text-3xl md:text-4xl lg:text-5xl lg:mb-7">
      Инструмент, который делает <br /> вашу работу безупречной.
    </h1>
    <p class="text-xs font-medium text-muted-foreground md:text-md md:text-lg">
      Ваше главное технологическое преимущество
    </p>
  </div>
  <a
    href="#contact"
    class={buttonVariants({ className: "self-center" })}
  >
    Попробовать
  </a>
</section>
