---
import { buttonVariants } from "../../ui/button"
---

<section class="flex h-screen w-full flex-col justify-center">
  <div class="mb-7 text-center">
    <h1 class="mb-7 font-heading text-5xl">
      Инструмент, который делает <br /> вашу работу безупречной.
    </h1>
    <p class="text-lg font-medium text-muted-foreground">
      Ваше главное технологическое преимущество
    </p>
  </div>
  <a
    href="#contact"
    class={buttonVariants({ className: "self-center" })}
  >
    Попробовать
  </a>
</section>
