---
import { buttonVariants } from "../../ui/button"
---

<section
  class="h-[95vh] lg:p-3"
>
  <div class="w-full h-full flex rounded-lg w-full bg-[url('/hero.png')] bg-cover bg-center flex-col items-start justify-center p-5 lg:p-10">
    <div class="mb-5 lg:mb-7">
    <h1
      class="mb-3 font-heading text-xl text-balance sm:text-3xl md:text-4xl lg:mb-5 lg:text-5xl"
    >
      Инструмент, который делает <br /> работу юриста легче.
    </h1>
    <p class="md:text-md text-xs font-medium md:text-lg">
      Ваше главное технологическое преимущество
    </p>
  </div>
  <div>
    <a href="#contact" class={buttonVariants({ className: "self-center" })}>
      Попробовать
    </a>
  </div>
  </div>
</section>
