---
const {
    title,
    description,
    imageSrc
} = Astro.props
---

<article class="flex flex-col items-center lg:gap-8 gap-5 rounded-sm bg-neutral-100 px-6 py-20">
    <div class="size-12">
        <img class="h-full w-full" src={imageSrc} alt="" />
    </div>
    <div class="text-center">
        <h3 class="lg:mb-5 mb-3 lg:text-xl text-lg">{title}</h3>
        <p class="lg:text-md text-sm font-normal text-muted-foreground">{description}</p>
    </div>
</article>
