---
import BenefitCard from "./benefit-card.astro"
import { getLangFromUrl, getUi } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const { benefits } = getUi(lang).landing
---

<section class="m-auto mt-20 mb-20 w-full max-w-6xl p-5 lg:p-10">
  <div class="mb-16 text-left">
    <h2 class="mb-4 text-4xl">{benefits.title}</h2>
    <p class="text-md max-w-lg font-normal text-wrap text-muted-foreground">
      {benefits.description}
    </p>
  </div>
  <div
    class="align-center grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3"
  >
    {benefits.items.map((benefit) => <BenefitCard {...benefit} />)}
  </div>
</section>
