---
import Layout from "@/layouts/main.astro"
import HeroSection from "@/components/main/hero/hero-section.astro"
import ContactSection from "@/components/main/contact/contact-section.astro"
import FeaturesSection from "@/components/main/features/features-section.astro"
import BenefitsSection from "@/components/main/benefits/benefits-section.astro"
---

<Layout>
  <main>
    <HeroSection />
    <BenefitsSection />
    <FeaturesSection />
    <ContactSection />
  </main>
</Layout>
