---
import Footer from "@/components/main/footer/footer.astro"
import Nav from "@/components/nav/nav"
import { getLangFromUrl, getUi } from "@/i18n/utils"
import "@/styles/global.css"

type Props = {
  title?: string
}

const currentPath = Astro.url.pathname
const lang = getLangFromUrl(Astro.url)
const { meta } = getUi(lang)
const { title = meta.title } = Astro.props
---

<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Nav client:load currentPath={currentPath} lang={lang} />
    <slot />
    <Footer />
  </body>
</html>
